body {
  background-image: url('/bg.png'); /* Set the background image */
  background-size: cover; /* Makes the image cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */

  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;
  background-color: black;
}

.title {
  width: 50vw;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}